@page
<div id="horiztonal-flex">
    <div id="container">
        <div id="messages-user-submit">
            <div class="row p-1" id="username">
                <div class="col-1">Username</div>
                <div class="col-5"><input type="text" id="userInput" /></div>
            </div>
            <div class="row p-1">
                <div class="col-6">
                    <hr />
                </div>
            </div>
            <div class="row p-1" id="list-of-messages">
                <div class="col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        </div>
        <form id="message-box">        
            <div id="label">Message</div>
            <div id="message-content"><input type="text" id="messageInput" /></div>        
            <input type="submit" id="sendButton" value="Send Message" />                 
        </form>
    </div>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" id="image-box" target="_blank"><img src="~/assets/peepo pirate(1).png" alt="skull and crossbones to make people think hacker" id="skull-crossbones" /></a>
</div>



<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>