@page
@model peeposredemption.API.Pages.App.IndexModel

<div id="app-shell">

    <div id="server-list">
        @foreach (var server in Model.Servers)
        {
            var channelId = Model.ServerDefaultChannels.GetValueOrDefault(server.Id);
            <a href="/App/Channel?channelId=@channelId&serverId=@server.Id" class="server-icon" title="@server.Name">
                @if (server.IconUrl != null)
                {
                    <img src="@server.IconUrl" alt="@server.Name" />
                }
                else
                {
                    <div class="server-icon-placeholder">
                        @server.Name.Substring(0, 1).ToUpper()
                    </div>
                }
            </a>
        }
        <div class="server-icon add-server" title="Add Server">+</div>
    </div>

    <div id="channel-list">
        <div id="channel-list-header">Direct Messages</div>
        <div id="dm-list"></div>
    </div>

    <div id="chat-area">
        <div id="messages-list"></div>
        <div id="message-input-area">
            <input type="text" id="messageInput" placeholder="Message..." />
            <button id="sendButton">Send</button>
        </div>
    </div>

</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>